@font-face {
    font-family: "FiraGO";
    src: url("https://hopplaassets.s3.amazonaws.com/fonts/firago/FiraGO-Regular.woff2") format("woff2"),
    url("https://hopplaassets.s3.amazonaws.com/fonts/firago/FiraGO-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .fira-go {
        @apply font-FiraGO;
        font-feature-settings: "case" 1;
    }

    .hoppla-animation {
        @apply transform transition-all duration-300 ease-in-out;
    }

    .page-wrapper {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
    }
}